body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  
.bg-2 { 
  background-color: #282E34;
  color: #ffffff;
}
.bg-3 { 
  background-color: #F6F6F6; 
  color: #555555;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-1{
 padding: 120px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.navbar {
z-index: 125;
position: fixed;
min-height: 50px;
margin-bottom: 0px;
width: 100%;
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.logos{
font-size: 35px;
}

footer {
padding: 10px;
color: white;
background-color:#2F2F2F;

left: 0; bottom: 0; 
padding: 10px; 
width: 100%;
height: 200px;
}
.active{
background-color:#EDEEF0 ;
}
.navbar-nav li:active, .navbar-nav li:focus{
background-color:#EDEEF0 ;
}



/*Конец главного*/

.goo{
 padding: 40px 50px;
}

.mnog { 
  background-color: #282E34;
  width: 100%;
  height: 30px;
}  

textarea {
  resize: none;
}
.input-margin{
  margin-top: 5px;
}
li{
  list-style: none;
}
#rezultat {
  display: none;
}
